*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65.4px;
}

body{
    font-size: 0.6rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #111;
    margin-top: 2rem;
    transition: all 1s;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #111;
    color: #fff;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

div.header{
    display: flex;
    flex-direction: row;
    font-size: 0.2rem;
    justify-content: space-between;
}

.developer{
    font-size: 0.7rem;
}

span{
    color: #cc932a;
}

.container .showcase{
    display: flex;
    flex-direction: row;
}

.program{
    width: 40%;
}


.section-1{
    padding-bottom: 3rem;
    clear: both;
    color: #fff;
}

.p-1{
    font-size: 0.4rem;
    letter-spacing: 1px;
}

.enroll{
    font-size: 0.4rem;
    float: left;
    color: rgb(13 136 235);
    padding-bottom: 3rem;
}

.enroll-now{
    padding: 0.2rem 0.5rem;
    display: block;
    background-color: rgb(13 136 235);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.3rem;
    margin-top: 0.2rem;
}

.form{
    background-color: rgb(13 136 235);
    color: #fff;
    padding: 0.5rem;
    clear: both;
}

.container{
    clear: both;
}

div.form .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input{
    height: 0.8rem;
    border-radius: 5px 0px 0px 5px;
    width: 500px;
}

.button{
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 0.3rem;
    background-color: rgb(0 0 0);
    color: #fff;
    cursor: pointer;
}

.section-2{
    background-color: #fff;
    padding-top: 1rem;
    font-size: 0.3rem;
    padding-bottom: 3rem;
}

.section-2 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.grid{
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 1.3;
    border-radius: 10px;
    width: 33%;
    height: 33%;
}

#consultant{
    background-color: gray;
    padding: 1.03rem;
}

#virtual-learning, #tutors{
    padding: 1.03rem;
}

#tutors button, #virtual-learning button{
    background-color: rgb(13 136 235); 
    color: #fff;
    border: none;  
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 0.2rem;
    font-size: 0.3rem;
}

#consultant button{
    background-color: rgb(0 0 0); 
    color: #fff;
    border: none;  
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 0.2rem;
    font-size: 0.3rem;
}

.section-3{
    background-color: #fff;
}

.section-3 .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#web-development{
    font-size: 0.4rem;
}

.fundamental, .fundament, .deve, .more{
    padding-bottom: 1rem;
}

span.more{
    color: black;
}

.section-4{
    background-color: #656565;
    color: #fff;
    font-size: 0.4rem;
    padding: 2rem;
}

.section-4 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.react-logo img{
    width: 100%;
}

.section-5{
    background-color: #fff;
}

.frequent{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.summary{
    padding-bottom: 1rem;
}

details{
    padding-bottom: 1rem;
    font-size: 0.3rem;
    border-bottom: 1px solid gray;
    padding-top: 0.5rem;
}

details p{
    padding-top: 1rem;
}

details.none{
    border: none;
}

.section-6{
    background-color: rgb(13 136 235);
    color: #fff;
}

.section-6 .container{
    padding: 1rem 0rem;
}
.experience {
    font-size: 0.4rem;
    text-align: center;
}

img.image{
    height: 200px;
    border-radius: 100px;
    width: 200px;
}

.information{
    font-size: 0.3rem;
    background-color: #fff;
    color: #111;
    margin-left: 0.3rem;
    padding: 0.5rem 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-top: 1rem;

}

.none{
    margin-left: 0;
}

#our-tutors{
    display: flex;
    flex-direction: row;
}

.name{
    font-weight: bold;
    font-size: 0.5rem;
}

.section-7{
    background-color: #fff;
    color: #111;
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem;    
}

.map img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact{
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.bold{
    font-weight: bold;
    color: #111;
    font-size: 0.4rem;
}

.normal{
    font-weight: normal;
    font-size: 0.4rem;
    color: gray;

}

.aa{
    font-size: 0.3rem;
    color: rgb(13 136 235);
}

.aa:hover{
    font-weight: bold;
}

footer{
    background-color: #000;
    color: #fff;
    font-size: 0.4rem;
    padding: 50px;
    position: relative;

}

.copyright{
    text-align: center;
}

.arrow-2{
    height: 70px;
    border-radius: 35px;
    border: 1px solid #fff;
    padding: 20px;
    position: absolute;
    right: 40px;
    bottom: 35px;
    transition: all 5s;
}

.grid p a{
    text-decoration: none;
    color: #fff;
}

button{
    cursor: pointer;
}

@media(max-width:1047px){
    .section-2 .container{
        flex-direction: column;
        align-items: center;
    }

    .grid{
        width: 70%;
        margin: 20px auto;
    }
}

@media(max-width:700px){

    body{
        margin-top: 2.5rem;
    }

    div.header{
        flex-direction: column;
    }

    .frontend{
        padding-bottom: 0.3rem;
    }

    .container .showcase{
        flex-direction: column;
    }

    .program{
        width: 100%;
    }

    .photo{
        height: 200px;
    }

    div.form .container{
        flex-direction: column;
    }
    
    input, .button{
        width: 250px;
        border-radius: 5px;
    }

    .grid{
        width: 100%;
    }

    #consultant button{
        width: 200px;
    }

    #tutors button, #virtual-learning button{
        width: 200px;
    }

    .section-3 .container{
        flex-direction: column;
    }

    .section-4{
        padding: 0;
    }

    .section-4 .container{
        flex-direction: column;
    }

    #our-tutors{
        flex-direction: column;
    }

    footer{
        padding: 25px;
    }

    .copyright{
        text-align: start;
    }

    .arrow-2{
        height: 35px;
        border-radius: 17.5px;
        padding: 10px;
        right: 20px;

    }
}
